.action-box {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.form-search {
    display: flex;
    gap: 15px;
    width: 85%;

    input {
        width: 40%;
    }

    select {
        width: 20%;
    }
}

.loading-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    &::after {
        position: absolute;
        content: '';
        background-color: rgba(0,0,0,.3);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
    }
}

.error-message {
    color: red;
    font-size: 13px;
}

.modal-custom-height {
        height: 363px;
}